version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: dev_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: wishlist
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - devnet

  pgadmin:
    image: dpage/pgadmin4
    container_name: dev_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local.com
      PGADMIN_DEFAULT_PASSWORD: password
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - devnet

  redis:
    image: redis:7
    container_name: dev_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - devnet

  localstack:
    image: localstack/localstack:latest
    container_name: dev_localstack
    restart: unless-stopped
    environment:
      SERVICES: s3,sqs,sns,sts,lambda
      DEBUG: 1
    ports:
      - "4566:4566"
      - "4571:4571"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - devnet

  mailpit:
    image: axllent/mailpit:latest
    container_name: dev_mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - devnet

networks:
  devnet:
    driver: bridge

volumes:
  pgdata:
