version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: dev_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - devnet

  pgadmin:
    image: dpage/pgadmin4
    container_name: dev_pgadmin
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    ports:
      - "5050:80"
    depends_on:
      - postgres
    networks:
      - devnet

  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    command: 
      - start
      - --import-realm
    environment:
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT_BACKCHANNEL: false
      KC_HTTP_ENABLED: true
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
    volumes:
      - ./data/keycloak.default.realm.json:/opt/keycloak/data/import/keycloak.default.realm.json

    ports:
      - 8080:8080
    restart: always
    depends_on:
      - postgres
    networks:
      - devnet


  redis:
    image: redis:7
    container_name: dev_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - devnet

  localstack:
    image: localstack/localstack:latest
    container_name: dev_localstack
    restart: unless-stopped
    environment:
      SERVICES: s3,sqs,sns,sts,lambda
      DEBUG: 1
    ports:
      - "4566:4566"
      - "4571:4571"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    networks:
      - devnet

  mailpit:
    image: axllent/mailpit:latest
    container_name: dev_mailpit
    restart: unless-stopped
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - devnet

networks:
  devnet:
    driver: bridge

volumes:
  pgdata:
